<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1015366966747-majdpfl3c21co8cl4u5dbu6g5fot0ujr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1015366966747-majdpfl3c21co8cl4u5dbu6g5fot0ujr</string>
	<key>API_KEY</key>
	<string>AIzaSyC4tFDjfdPqIQPkfpDDbW-2f-6ZRxkazZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1015366966747</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.drewsullivandma.CopyCat</string>
	<key>PROJECT_ID</key>
	<string>copycat-ad80f</string>
	<key>STORAGE_BUCKET</key>
	<string>copycat-ad80f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015366966747:ios:c9c8ec162375f00a</string>
	<key>DATABASE_URL</key>
	<string>https://copycat-ad80f.firebaseio.com</string>
</dict>
</plist>